.main {
    position: relative;
    top: 80px;
    padding-left: 10px;
}

.page {
    /*background-image: url("storyPages/page1.jpg");*/
    background-color: white;
    border: crimson 3px dashed;
    border-radius: 10px;
    color: black;
    width: 150px;
    height: 250px;
    display: flex;
    align-content: center;
    padding: 5px;
    transition: 0.5s ease-in-out;
    flex-direction: column;
    flex-wrap: wrap;
}

.page:hover {
    width: 200px;
    height: 300px;
}

.clickable {
    text-decoration: none;
    color: white;
    font-family: exo-soft, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1em;
    margin: 5px;
}

#bookPages {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

